<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>axlscld</title>
  <link rel="icon" href="/images/axl-logo.png">
  <link rel="stylesheet" href="{{ get_url(path='app.css', trailing_slash=false) }}"/>
</head>

<body class="flex-body">
  <section class="section">
    <div class="container">
      <div class="flex-header">
        <h1 class="title"> 
            <a class="title-link" href="{{ config.base_url }}">
            axlscld  
            </a>
        </h1>
        <p class="menu">
          <a href="{{ get_url(path='@/blog/_index.md') }}">Blog</a>
          <a href="https://www.linkedin.com/in/axel-escalada-728931127/">Contact</a>
        </p>
      </div>
      {% block content %} {% endblock %}
    </div>
  </section>
  <div class="flex-footer">
    <hr>
    <p>Author: Axel Escalada</p>
    <p>All opinions expressed on this blog are my own and do not necessarily reflect the views, opinions, or policies of any current or past employers, organizations, or institutions I may be associated with. Any opinions, information, or content provided on this blog are intended for informational and entertainment purposes only.</p>
  </div>
</body>

</html>
