{% extends "base.html" %}

{% block content %}
<div class="flex-container">
  <p>Hi, my name is Axel. I'm a software developer with six years of experience working with Java and Kotlin as my principal languages. I love to learn about new technologies, understand how they work, and their purpose. I'm a passionate Zig enthusiast; you can check out <a href="https://github.com/axlEscalada/">my github</a> where I share some of my work while learning the language. You can also find some of my posts <a href="{{ get_url(path="/blog") }}">here</a>, where I discuss things I've learned and want to share. Information on how to contact me is available on this site.</p>
</div>
{% endblock content %}
